@{
    Layout = null;
}
<!doctype html>
<html lang="es">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!--iconos-->
    <script src="https://kit.fontawesome.com/47c1ec656c.js" crossorigin="anonymous"></script>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/site.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/normalize.css@8.0.1/normalize.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/glider-js@1.7.3/glider.min.css">
    <title>Virtual School</title>
    <link rel="shortcut icon" href="https://st2.depositphotos.com/2877797/8963/v/950/depositphotos_89636676-stock-illustration-symbol-competition-vs-vector-illustration.jpg">
</head>
<body>
    <header class="header">
        <div class="container">
            <div class="logo">
                <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index"><h1>Virtual School</h1></a>
            </div>
            <nav class="menu">
                <a class="register" href="/login/register">Register</a>
                <a href="/login/login">Login</a>
            </nav>
            <!--- Lista desplegable--->
            <div id="header1">
                <ul class="nav">
                    <li>
                        <a id="categoria" href="#">Categorías</a>
                        <ul class="lista">
                            <li>
                                <a href="#">Dessarrollo</a>
                                <ul class="sublista">
                                    @*<li><a href="#">subSubmenu1</a></li>
                                        <li><a href="#">subSubmenu2</a></li>
                                        <li><a href="#">subSubmenu3</a></li>
                                        <li><a href="#">subSubmenu4</a></li>*@

                                </ul>
                            </li>
                            <li>
                                <a href="#">Negocios</a>
                                <ul class="sublista">
                                    @*<li><a href="#">subSubmenu1</a></li>
                                        <li><a href="#">subSubmenu2</a></li>
                                        <li><a href="#">subSubmenu3</a></li>*@
                                </ul>
                            </li>
                            <li>
                                <a href="#">Finanzas y Contabilidad</a>
                                <ul class="sublista">
                                    @*<li><a href="#">subSubmenu1</a></li>
                                        <li><a href="#">subSubmenu2</a></li>
                                        <li><a href="#">subSubmenu3</a></li>*@
                                </ul>
                            </li>
                            <li>
                                <a href="#">Informatica y Software</a>
                                <ul class="sublista">
                                    @*<li><a href="#">subSubmenu1</a></li>
                                        <li><a href="#">subSubmenu2</a></li>
                                        <li><a href="#">subSubmenu3</a></li>*@
                                </ul>
                            </li>
                            <li>
                                <a href="#">Productividad en la Oficina</a>
                                <ul class="sublista">
                                    @*<li><a href="#">subSubmenu1</a></li>
                                        <li><a href="#">subSubmenu2</a></li>
                                        <li><a href="#">subSubmenu3</a></li>*@
                                </ul>
                            </li>
                            <li>
                                <a href="#">Diseño</a>
                                <ul class="sublista">
                                    @*<li><a href="#">subSubmenu1</a></li>
                                        <li><a href="#">subSubmenu2</a></li>
                                        <li><a href="#">subSubmenu3</a></li>*@
                                </ul>
                            </li>

                        </ul>
                    </li>
                </ul>
            </div>
            <!---aca termina la lista :v-->
            <div class="buscador">
                <label for="Buscar"><i class="fas fa-search"></i></label>
                <input type="search" id="Buscar" size="30" placeholder="Buscar" />
            </div>
        </div>
    </header>
    <br />
    <br />
    <div class="curso">
        <div class="container">
            <div class="row mb-3">
                    <div class="col-8">
                        <h1 class="display-3 text-white">@Model.cursos.NombreCurso</h1>
                    </div>
                    <div class="col-8">
                        <h4 class="text-white">@Model.cursos.Detalle</h4>
                    </div>
                    <div class="col-5">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item bg-transparent active">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-award" viewBox="0 0 16 16">
                                    <path d="M9.669.864 8 0 6.331.864l-1.858.282-.842 1.68-1.337 1.32L2.6 6l-.306 1.854 1.337 1.32.842 1.68 1.858.282L8 12l1.669-.864 1.858-.282.842-1.68 1.337-1.32L13.4 6l.306-1.854-1.337-1.32-.842-1.68L9.669.864zm1.196 1.193.684 1.365 1.086 1.072L12.387 6l.248 1.506-1.086 1.072-.684 1.365-1.51.229L8 10.874l-1.355-.702-1.51-.229-.684-1.365-1.086-1.072L3.614 6l-.25-1.506 1.087-1.072.684-1.365 1.51-.229L8 1.126l1.356.702 1.509.229z" />
                                    <path d="M4 11.794V16l4-1 4 1v-4.206l-2.018.306L8 13.126 6.018 12.1 4 11.794z" />
                                </svg> Instructor: <b>@Model.cursos.NombreProfesor</b>
                            </li>
                            <li class="list-group-item bg-transparent active">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-globe2" viewBox="0 0 16 16">
                                    <path d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm7.5-6.923c-.67.204-1.335.82-1.887 1.855-.143.268-.276.56-.395.872.705.157 1.472.257 2.282.287V1.077zM4.249 3.539c.142-.384.304-.744.481-1.078a6.7 6.7 0 0 1 .597-.933A7.01 7.01 0 0 0 3.051 3.05c.362.184.763.349 1.198.49zM3.509 7.5c.036-1.07.188-2.087.436-3.008a9.124 9.124 0 0 1-1.565-.667A6.964 6.964 0 0 0 1.018 7.5h2.49zm1.4-2.741a12.344 12.344 0 0 0-.4 2.741H7.5V5.091c-.91-.03-1.783-.145-2.591-.332zM8.5 5.09V7.5h2.99a12.342 12.342 0 0 0-.399-2.741c-.808.187-1.681.301-2.591.332zM4.51 8.5c.035.987.176 1.914.399 2.741A13.612 13.612 0 0 1 7.5 10.91V8.5H4.51zm3.99 0v2.409c.91.03 1.783.145 2.591.332.223-.827.364-1.754.4-2.741H8.5zm-3.282 3.696c.12.312.252.604.395.872.552 1.035 1.218 1.65 1.887 1.855V11.91c-.81.03-1.577.13-2.282.287zm.11 2.276a6.696 6.696 0 0 1-.598-.933 8.853 8.853 0 0 1-.481-1.079 8.38 8.38 0 0 0-1.198.49 7.01 7.01 0 0 0 2.276 1.522zm-1.383-2.964A13.36 13.36 0 0 1 3.508 8.5h-2.49a6.963 6.963 0 0 0 1.362 3.675c.47-.258.995-.482 1.565-.667zm6.728 2.964a7.009 7.009 0 0 0 2.275-1.521 8.376 8.376 0 0 0-1.197-.49 8.853 8.853 0 0 1-.481 1.078 6.688 6.688 0 0 1-.597.933zM8.5 11.909v3.014c.67-.204 1.335-.82 1.887-1.855.143-.268.276-.56.395-.872A12.63 12.63 0 0 0 8.5 11.91zm3.555-.401c.57.185 1.095.409 1.565.667A6.963 6.963 0 0 0 14.982 8.5h-2.49a13.36 13.36 0 0 1-.437 3.008zM14.982 7.5a6.963 6.963 0 0 0-1.362-3.675c-.47.258-.995.482-1.565.667.248.92.4 1.938.437 3.008h2.49zM11.27 2.461c.177.334.339.694.482 1.078a8.368 8.368 0 0 0 1.196-.49 7.01 7.01 0 0 0-2.275-1.52c.218.283.418.597.597.932zm-.488 1.343a7.765 7.765 0 0 0-.395-.872C9.835 1.897 9.17 1.282 8.5 1.077V4.09c.81-.03 1.577-.13 2.282-.287z" />
                                </svg> Idioma: <b>Español</b>
                            </li>
                            <li class="list-group-item bg-transparent active">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-stopwatch" viewBox="0 0 16 16">
                                    <path d="M8.5 5.6a.5.5 0 1 0-1 0v2.9h-3a.5.5 0 0 0 0 1H8a.5.5 0 0 0 .5-.5V5.6z" />
                                    <path d="M6.5 1A.5.5 0 0 1 7 .5h2a.5.5 0 0 1 0 1v.57c1.36.196 2.594.78 3.584 1.64a.715.715 0 0 1 .012-.013l.354-.354-.354-.353a.5.5 0 0 1 .707-.708l1.414 1.415a.5.5 0 1 1-.707.707l-.353-.354-.354.354a.512.512 0 0 1-.013.012A7 7 0 1 1 7 2.071V1.5a.5.5 0 0 1-.5-.5zM8 3a6 6 0 1 0 .001 12A6 6 0 0 0 8 3z" />
                                </svg> Tiempo: <b>54 horas</b>
                            </li>
                        </ul>
                    </div>
                    <img class="col-md-3 rounded float-right img-fluid" src="@Model.cursos.Caratula"
                         alt="imagen del curso" height="500">
            </div>
        </div>
    </div>
    <div class="row mb-3">
        <button class="btn btn-primary btn-lg btn-block" type="button" name="button">
            <h1 class="display-3">Tomar Curso</h1>
        </button>
    </div>
    <div class="color">
        @foreach(var item in Model.Comentarios) {
        <div>
            <h4>Lo que aprenderás</h4>
            <p>@item.Aprender</p>
            <h4>Contenido del curso</h4>
            <p>@item.Contenido</p>
            <h4>Requisitos</h4>
            <p>@item.Requisitos</p>
            <ul>
                <li><p>Acceso a un PC con internet para descargar el material y los programas</p></li>
                <li><p>Windows Vista o superior - GNU/Linux (Ubuntu, Debian...) - Mac OS X</p></li>
            </ul>
            <h4>Descripción</h4>
            <p>@item.Descripción</p>
            <h4>¿Para quién es este curso?</h4>
            <h4>Reseñas hacia el curso</h4>
        </div>
        }
    </div>        
    <h5 class="color">Añade un comentario: </h5>
    <div class="align-content-around textarea">
        <textarea class="form-control" rows="10" cols="2"></textarea>
    </div>

    


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/glider-js@1.7.3/glider.min.js"></script>
    <script src="https://kit.fontawesome.com/2c36e9b7b1.js" crossorigin="anonymous"></script>
    <script src="~/js/sites.js"></script>
</body>
</html>